/* Styles for the popup body */
.popup-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 360px;
    z-index: 99900;
    background-color: rgb(25,40,49,0.8);
}

.eashyship-popup-body {
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color:#2e384d;
	position: fixed;
    background: #fff;
	z-index: 100000;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    min-width: 800px;
	border-radius : 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.59);
}

.eashyship-popup-footer,
.eashyship-popup-header{
	height: auto;
    background: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    border-radius : 10px 10px 0 0;
	
	display: flex;
    align-items: center;
	justify-content: space-between; /* Distributes space between items */
}

.eashyship-popup-footer{
    border-top: 1px solid #ddd;
    border-radius : 0 0 10px 10px;
}

.eashyship-logo{
    height: auto;
    width: 100px;
}
.easyship-header-right{
	display: flex;
    align-items: center;
	justify-content: space-between; /* Distributes space between items */
	gap: 50px;
}
.eashyship-clickable-icon{
	color: #aaa;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}
.eashyship-wallet{
	float: right;
	margin-top: -15px;
	color: #84CDD2;
}

.eashyship-product-disc a{
	text-decoration: none;
}

.eashyship-popup-article{
    padding: 20px;
	max-height: 400px;
    overflow-y: auto;
}


/* content */
.eashyship-order-info{
    margin-top: 0%;
}
.eashyship-table{
  width: 100%;
  border-collapse: collapse;
}
/* table */
.eashyship-table tr{
    border-bottom: 1px dotted #ccc;
    cursor: pointer;
  }
.add-error-border{
	border: 1px solid red;
}
.eashyship-table tr:hover td:not(th) {
    background-color: rgba(210,221,236,.2);
}
.eashyship-shipping-table tr:nth-child(odd) td:not(th) {
    background-color: rgba(210,221,236,.1);
}
.eashyship-table th {
    font-weight: bold;
}
.eashyship-table td, .eashyship-table th {
  padding: 10px;
  text-align: left;
}
.eashyship-close-footer,
.eashyship-submit-btn{
    background-color: #4c66fb;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.3;
    padding: 0 1rem;
	cursor: pointer;
}
.eashyship-close-footer{
    background-color: #7c96bc;
}

.eashyship-close-footer:hover,
.eashyship-submit-btn:hover {
    opacity: 90%;
}
.es-img{
	width: 40px!important;
    height: auto;
}
.es-prodcut-img-title{
	display: flex;
    align-items: center;
}

/* Style for animation */

body {
  background: #ececec;
}
.lds-dual-ring.hidden { 
display: none;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 22.5% auto;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.8);
    z-index: 100001;
    opacity: 1;
    transition: all 0.5s;
}


